@font-face {
    font-family: "IconFont";
    font-display: block;
    src: url("/fonts/icon-font/IconFont.eot?2aeae7b00fdb29a48951f9696c7ec309#iefix") format("embedded-opentype"),
url("/fonts/icon-font/IconFont.woff2?2aeae7b00fdb29a48951f9696c7ec309") format("woff2"),
url("/fonts/icon-font/IconFont.woff?2aeae7b00fdb29a48951f9696c7ec309") format("woff"),
url("/fonts/icon-font/IconFont.ttf?2aeae7b00fdb29a48951f9696c7ec309") format("truetype"),
url("/fonts/icon-font/IconFont.svg?2aeae7b00fdb29a48951f9696c7ec309#IconFont") format("svg");
}

.icon {
  display: inline-block;
  font-family: "IconFont", sans-serif;
  font-weight: 400;
  font-size: inherit;
  text-rendering: auto;
  text-transform: none;
  font-style: normal;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-users:before {
  content: "\f101";
}
.icon-user-plus:before {
  content: "\f102";
}
.icon-tag-add:before {
  content: "\f103";
}
.icon-sun:before {
  content: "\f104";
}
.icon-sun-moon:before {
  content: "\f105";
}
.icon-star:before {
  content: "\f106";
}
.icon-star-o:before {
  content: "\f107";
}
.icon-spinner:before {
  content: "\f108";
}
.icon-settings:before {
  content: "\f109";
}
.icon-server:before {
  content: "\f10a";
}
.icon-search:before {
  content: "\f10b";
}
.icon-profile:before {
  content: "\f10c";
}
.icon-pc:before {
  content: "\f10d";
}
.icon-moon:before {
  content: "\f10e";
}
.icon-metrics:before {
  content: "\f10f";
}
.icon-machine:before {
  content: "\f110";
}
.icon-logout:before {
  content: "\f111";
}
.icon-lock:before {
  content: "\f112";
}
.icon-laptop:before {
  content: "\f113";
}
.icon-keys:before {
  content: "\f114";
}
.icon-key:before {
  content: "\f115";
}
.icon-key-plus:before {
  content: "\f116";
}
.icon-jwt:before {
  content: "\f117";
}
.icon-json:before {
  content: "\f118";
}
.icon-info:before {
  content: "\f119";
}
.icon-gear:before {
  content: "\f11a";
}
.icon-eye:before {
  content: "\f11b";
}
.icon-expire:before {
  content: "\f11c";
}
.icon-edit-url:before {
  content: "\f11d";
}
.icon-edit-code:before {
  content: "\f11e";
}
.icon-dropdown:before {
  content: "\f11f";
}
.icon-devices:before {
  content: "\f120";
}
.icon-copy:before {
  content: "\f121";
}
.icon-context-menu:before {
  content: "\f122";
}
.icon-connection:before {
  content: "\f123";
}
.icon-close:before {
  content: "\f124";
}
.icon-check:before {
  content: "\f125";
}
.icon-bearer:before {
  content: "\f126";
}
.icon-avatar-9:before {
  content: "\f127";
}
.icon-avatar-8:before {
  content: "\f128";
}
.icon-avatar-7:before {
  content: "\f129";
}
.icon-avatar-6:before {
  content: "\f12a";
}
.icon-avatar-5:before {
  content: "\f12b";
}
.icon-avatar-4:before {
  content: "\f12c";
}
.icon-avatar-3:before {
  content: "\f12d";
}
.icon-avatar-2:before {
  content: "\f12e";
}
.icon-avatar-1:before {
  content: "\f12f";
}
.icon-avatar-0:before {
  content: "\f130";
}
.icon-arrow-up:before {
  content: "\f131";
}
.icon-arrow-right:before {
  content: "\f132";
}
.icon-arrow-left:before {
  content: "\f133";
}
.icon-arrow-down:before {
  content: "\f134";
}
.icon-api:before {
  content: "\f135";
}

.icon-spinner {
  animation: 2s spin-animation linear infinite;
}

@keyframes spin-animation {

  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spin-animation {

  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
