.user-card {
  padding: 1rem;
  border: 1px solid rgb(var(--border-primary));
  border-radius: var(--border-radius-sm);
  position: relative;

  .main-info {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .info-row {
    margin-top: 0.5rem;
    display: flex;
    align-items: start;
    justify-content: space-between;
    font-size: 0.75rem;

    .label {
      color: rgb(var(--text-secondary));
    }

    .value {
      text-align: right;
    }
  }
}
