name: 'tailscale'

services:
  caddy:
    image: caddy
    cap_add:
      - NET_ADMIN
    ports:
      - '3080:3080'
      - '3081:3081'
    volumes:
      - ./docker/caddy/Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
  headscale-web:
    #    image: sergeyitsib/headscale-web
    build:
      context: .
    healthcheck:
      test: ['CMD', 'healthcheck']
      interval: 10s
      timeout: 5s
      retries: 2
  headscale:
    build:
      context: ./docker/headscale
    volumes:
      - ./docker/headscale/config.yaml:/etc/headscale/config.yaml
      - headscale-data:/var/lib/headscale
    healthcheck:
      test: ['CMD', 'healthcheck']
      interval: 10s
      timeout: 5s
      retries: 2

volumes:
  caddy_data:
  caddy_config:
  headscale-data:
