<!doctype html>
<html lang="en" class="ui-scroll">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="apple-mobile-web-app-title" content="<%- APP_NAME %>" />
    <meta name="title" content="<%- APP_NAME %>" />
    <meta name="description" content="<%- APP_DESCRIPTION %>" />
    <title><%- APP_NAME %></title>
    <link rel="icon" type="image/webp" href="/favicon-48x48.webp" sizes="48x48" />
    <link rel="icon" type="image/webp" href="/favicon-96x96.webp" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <meta name="theme-color" media="(prefers-color-scheme: light)" content="#0073E5" />
    <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#0073E5" />
  </head>
  <body>
    <div id="root"></div>
    <script type="module" src="/src/index.tsx"></script>
  </body>
</html>
