.context-menu {
  min-width: 180px;
  padding: 10px 0;
  background-color: rgb(var(--bg-popover) / 1);
  //border: 1px solid rgb(var(--border-popover));
  border-radius: .5rem;
  overflow: hidden;
  //box-shadow: 0 4px 6px -1px rgb(0 0 0 / .3), 0 2px 4px -2px rgb(0 0 0 / .3);

  .context-menu-item {
    list-style: none;

    .btn-context-menu {
      width: 100%;
      height: 36px;
      padding: 6px 16px;
      font-weight: 400;
      font-size: 16px;
      line-height: 18px;
      text-align: start;
      border-radius: 0;
      border: none;
      transition: background-color .2s ease-in-out;

      .icon {
        width: 16px;
        height: auto;
        aspect-ratio: 1;
        margin-right: 12px;
        font-size: 16px;
        line-height: 16px;
        text-align: center;
        display: block;
      }

      &:hover {
        background-color: rgb(var(--bg-popover-hover) / 1);
      }
    }
  }

  .context-menu-divider {
    margin: 6px 0;
    border-color: rgb(var(--border-popover));
  }
}