.popover {
  overflow: hidden;
  box-shadow:
    0 4px 6px -1px rgb(0 0 0 / 0.3),
    0 2px 4px -2px rgb(0 0 0 / 0.3);
  background-color: rgb(var(--bg-popover));
  border: 1px solid rgb(var(--border-popover));
  border-radius: 0.25rem;
}

.popup {
  user-select: none;
}
