@font-face {
    font-family: "SF-Pro-Display";
    font-style: normal;
    font-weight: 900;
    font-stretch: 98%;
    font-display: swap;
    src: url("/fonts/sf-pro-display/SFProDisplay-Black.eot?06238298721099527#iefix") format("embedded-opentype"),
         url("/fonts/sf-pro-display/SFProDisplay-Black.woff2?06238298721099527") format("woff2"),
         url("/fonts/sf-pro-display/SFProDisplay-Black.woff?06238298721099527") format("woff"),
         url("/fonts/sf-pro-display/SFProDisplay-Black.otf?06238298721099527") format("truetype"),
         url("/fonts/sf-pro-display/SFProDisplay-Black.svg?06238298721099527#SF-Pro-Display") format("svg");
}
@font-face {
    font-family: "SF-Pro-Display";
    font-style: italic;
    font-weight: 900;
    font-stretch: 98%;
    font-display: swap;
    src: url("/fonts/sf-pro-display/SFProDisplay-BlackItalic.eot?06238298721099527#iefix") format("embedded-opentype"),
         url("/fonts/sf-pro-display/SFProDisplay-BlackItalic.woff2?06238298721099527") format("woff2"),
         url("/fonts/sf-pro-display/SFProDisplay-BlackItalic.woff?06238298721099527") format("woff"),
         url("/fonts/sf-pro-display/SFProDisplay-BlackItalic.otf?06238298721099527") format("truetype"),
         url("/fonts/sf-pro-display/SFProDisplay-BlackItalic.svg?06238298721099527#SF-Pro-Display") format("svg");
}
@font-face {
    font-family: "SF-Pro-Display";
    font-style: normal;
    font-weight: 700;
    font-stretch: 98%;
    font-display: swap;
    src: url("/fonts/sf-pro-display/SFProDisplay-Bold.eot?06238298721099527#iefix") format("embedded-opentype"),
         url("/fonts/sf-pro-display/SFProDisplay-Bold.woff2?06238298721099527") format("woff2"),
         url("/fonts/sf-pro-display/SFProDisplay-Bold.woff?06238298721099527") format("woff"),
         url("/fonts/sf-pro-display/SFProDisplay-Bold.otf?06238298721099527") format("truetype"),
         url("/fonts/sf-pro-display/SFProDisplay-Bold.svg?06238298721099527#SF-Pro-Display") format("svg");
}
@font-face {
    font-family: "SF-Pro-Display";
    font-style: italic;
    font-weight: 700;
    font-stretch: 98%;
    font-display: swap;
    src: url("/fonts/sf-pro-display/SFProDisplay-BoldItalic.eot?06238298721099527#iefix") format("embedded-opentype"),
         url("/fonts/sf-pro-display/SFProDisplay-BoldItalic.woff2?06238298721099527") format("woff2"),
         url("/fonts/sf-pro-display/SFProDisplay-BoldItalic.woff?06238298721099527") format("woff"),
         url("/fonts/sf-pro-display/SFProDisplay-BoldItalic.otf?06238298721099527") format("truetype"),
         url("/fonts/sf-pro-display/SFProDisplay-BoldItalic.svg?06238298721099527#SF-Pro-Display") format("svg");
}
@font-face {
    font-family: "SF-Pro-Display";
    font-style: normal;
    font-weight: 900;
    font-stretch: 98%;
    font-display: swap;
    src: url("/fonts/sf-pro-display/SFProDisplay-Heavy.eot?06238298721099527#iefix") format("embedded-opentype"),
         url("/fonts/sf-pro-display/SFProDisplay-Heavy.woff2?06238298721099527") format("woff2"),
         url("/fonts/sf-pro-display/SFProDisplay-Heavy.woff?06238298721099527") format("woff"),
         url("/fonts/sf-pro-display/SFProDisplay-Heavy.otf?06238298721099527") format("truetype"),
         url("/fonts/sf-pro-display/SFProDisplay-Heavy.svg?06238298721099527#SF-Pro-Display") format("svg");
}
@font-face {
    font-family: "SF-Pro-Display";
    font-style: italic;
    font-weight: 900;
    font-stretch: 98%;
    font-display: swap;
    src: url("/fonts/sf-pro-display/SFProDisplay-HeavyItalic.eot?06238298721099527#iefix") format("embedded-opentype"),
         url("/fonts/sf-pro-display/SFProDisplay-HeavyItalic.woff2?06238298721099527") format("woff2"),
         url("/fonts/sf-pro-display/SFProDisplay-HeavyItalic.woff?06238298721099527") format("woff"),
         url("/fonts/sf-pro-display/SFProDisplay-HeavyItalic.otf?06238298721099527") format("truetype"),
         url("/fonts/sf-pro-display/SFProDisplay-HeavyItalic.svg?06238298721099527#SF-Pro-Display") format("svg");
}
@font-face {
    font-family: "SF-Pro-Display";
    font-style: normal;
    font-weight: 300;
    font-stretch: 98%;
    font-display: swap;
    src: url("/fonts/sf-pro-display/SFProDisplay-Light.eot?06238298721099527#iefix") format("embedded-opentype"),
         url("/fonts/sf-pro-display/SFProDisplay-Light.woff2?06238298721099527") format("woff2"),
         url("/fonts/sf-pro-display/SFProDisplay-Light.woff?06238298721099527") format("woff"),
         url("/fonts/sf-pro-display/SFProDisplay-Light.otf?06238298721099527") format("truetype"),
         url("/fonts/sf-pro-display/SFProDisplay-Light.svg?06238298721099527#SF-Pro-Display") format("svg");
}
@font-face {
    font-family: "SF-Pro-Display";
    font-style: italic;
    font-weight: 300;
    font-stretch: 98%;
    font-display: swap;
    src: url("/fonts/sf-pro-display/SFProDisplay-LightItalic.eot?06238298721099527#iefix") format("embedded-opentype"),
         url("/fonts/sf-pro-display/SFProDisplay-LightItalic.woff2?06238298721099527") format("woff2"),
         url("/fonts/sf-pro-display/SFProDisplay-LightItalic.woff?06238298721099527") format("woff"),
         url("/fonts/sf-pro-display/SFProDisplay-LightItalic.otf?06238298721099527") format("truetype"),
         url("/fonts/sf-pro-display/SFProDisplay-LightItalic.svg?06238298721099527#SF-Pro-Display") format("svg");
}
@font-face {
    font-family: "SF-Pro-Display";
    font-style: normal;
    font-weight: 500;
    font-stretch: 98%;
    font-display: swap;
    src: url("/fonts/sf-pro-display/SFProDisplay-Medium.eot?06238298721099527#iefix") format("embedded-opentype"),
         url("/fonts/sf-pro-display/SFProDisplay-Medium.woff2?06238298721099527") format("woff2"),
         url("/fonts/sf-pro-display/SFProDisplay-Medium.woff?06238298721099527") format("woff"),
         url("/fonts/sf-pro-display/SFProDisplay-Medium.otf?06238298721099527") format("truetype"),
         url("/fonts/sf-pro-display/SFProDisplay-Medium.svg?06238298721099527#SF-Pro-Display") format("svg");
}
@font-face {
    font-family: "SF-Pro-Display";
    font-style: italic;
    font-weight: 500;
    font-stretch: 98%;
    font-display: swap;
    src: url("/fonts/sf-pro-display/SFProDisplay-MediumItalic.eot?06238298721099527#iefix") format("embedded-opentype"),
         url("/fonts/sf-pro-display/SFProDisplay-MediumItalic.woff2?06238298721099527") format("woff2"),
         url("/fonts/sf-pro-display/SFProDisplay-MediumItalic.woff?06238298721099527") format("woff"),
         url("/fonts/sf-pro-display/SFProDisplay-MediumItalic.otf?06238298721099527") format("truetype"),
         url("/fonts/sf-pro-display/SFProDisplay-MediumItalic.svg?06238298721099527#SF-Pro-Display") format("svg");
}
@font-face {
    font-family: "SF-Pro-Display";
    font-style: normal;
    font-weight: 400;
    font-stretch: 98%;
    font-display: swap;
    src: url("/fonts/sf-pro-display/SFProDisplay-Regular.eot?06238298721099527#iefix") format("embedded-opentype"),
         url("/fonts/sf-pro-display/SFProDisplay-Regular.woff2?06238298721099527") format("woff2"),
         url("/fonts/sf-pro-display/SFProDisplay-Regular.woff?06238298721099527") format("woff"),
         url("/fonts/sf-pro-display/SFProDisplay-Regular.otf?06238298721099527") format("truetype"),
         url("/fonts/sf-pro-display/SFProDisplay-Regular.svg?06238298721099527#SF-Pro-Display") format("svg");
}
@font-face {
    font-family: "SF-Pro-Display";
    font-style: italic;
    font-weight: 400;
    font-stretch: 98%;
    font-display: swap;
    src: url("/fonts/sf-pro-display/SFProDisplay-RegularItalic.eot?06238298721099527#iefix") format("embedded-opentype"),
         url("/fonts/sf-pro-display/SFProDisplay-RegularItalic.woff2?06238298721099527") format("woff2"),
         url("/fonts/sf-pro-display/SFProDisplay-RegularItalic.woff?06238298721099527") format("woff"),
         url("/fonts/sf-pro-display/SFProDisplay-RegularItalic.otf?06238298721099527") format("truetype"),
         url("/fonts/sf-pro-display/SFProDisplay-RegularItalic.svg?06238298721099527#SF-Pro-Display") format("svg");
}
@font-face {
    font-family: "SF-Pro-Display";
    font-style: normal;
    font-weight: 600;
    font-stretch: 98%;
    font-display: swap;
    src: url("/fonts/sf-pro-display/SFProDisplay-Semibold.eot?06238298721099527#iefix") format("embedded-opentype"),
         url("/fonts/sf-pro-display/SFProDisplay-Semibold.woff2?06238298721099527") format("woff2"),
         url("/fonts/sf-pro-display/SFProDisplay-Semibold.woff?06238298721099527") format("woff"),
         url("/fonts/sf-pro-display/SFProDisplay-Semibold.otf?06238298721099527") format("truetype"),
         url("/fonts/sf-pro-display/SFProDisplay-Semibold.svg?06238298721099527#SF-Pro-Display") format("svg");
}
@font-face {
    font-family: "SF-Pro-Display";
    font-style: italic;
    font-weight: 600;
    font-stretch: 98%;
    font-display: swap;
    src: url("/fonts/sf-pro-display/SFProDisplay-SemiboldItalic.eot?06238298721099527#iefix") format("embedded-opentype"),
         url("/fonts/sf-pro-display/SFProDisplay-SemiboldItalic.woff2?06238298721099527") format("woff2"),
         url("/fonts/sf-pro-display/SFProDisplay-SemiboldItalic.woff?06238298721099527") format("woff"),
         url("/fonts/sf-pro-display/SFProDisplay-SemiboldItalic.otf?06238298721099527") format("truetype"),
         url("/fonts/sf-pro-display/SFProDisplay-SemiboldItalic.svg?06238298721099527#SF-Pro-Display") format("svg");
}
@font-face {
    font-family: "SF-Pro-Display";
    font-style: normal;
    font-weight: 100;
    font-stretch: 98%;
    font-display: swap;
    src: url("/fonts/sf-pro-display/SFProDisplay-Thin.eot?06238298721099527#iefix") format("embedded-opentype"),
         url("/fonts/sf-pro-display/SFProDisplay-Thin.woff2?06238298721099527") format("woff2"),
         url("/fonts/sf-pro-display/SFProDisplay-Thin.woff?06238298721099527") format("woff"),
         url("/fonts/sf-pro-display/SFProDisplay-Thin.otf?06238298721099527") format("truetype"),
         url("/fonts/sf-pro-display/SFProDisplay-Thin.svg?06238298721099527#SF-Pro-Display") format("svg");
}
@font-face {
    font-family: "SF-Pro-Display";
    font-style: italic;
    font-weight: 100;
    font-stretch: 98%;
    font-display: swap;
    src: url("/fonts/sf-pro-display/SFProDisplay-ThinItalic.eot?06238298721099527#iefix") format("embedded-opentype"),
         url("/fonts/sf-pro-display/SFProDisplay-ThinItalic.woff2?06238298721099527") format("woff2"),
         url("/fonts/sf-pro-display/SFProDisplay-ThinItalic.woff?06238298721099527") format("woff"),
         url("/fonts/sf-pro-display/SFProDisplay-ThinItalic.otf?06238298721099527") format("truetype"),
         url("/fonts/sf-pro-display/SFProDisplay-ThinItalic.svg?06238298721099527#SF-Pro-Display") format("svg");
}
@font-face {
    font-family: "SF-Pro-Display";
    font-style: normal;
    font-weight: 200;
    font-stretch: 98%;
    font-display: swap;
    src: url("/fonts/sf-pro-display/SFProDisplay-Ultralight.eot?06238298721099527#iefix") format("embedded-opentype"),
         url("/fonts/sf-pro-display/SFProDisplay-Ultralight.woff2?06238298721099527") format("woff2"),
         url("/fonts/sf-pro-display/SFProDisplay-Ultralight.woff?06238298721099527") format("woff"),
         url("/fonts/sf-pro-display/SFProDisplay-Ultralight.otf?06238298721099527") format("truetype"),
         url("/fonts/sf-pro-display/SFProDisplay-Ultralight.svg?06238298721099527#SF-Pro-Display") format("svg");
}
@font-face {
    font-family: "SF-Pro-Display";
    font-style: italic;
    font-weight: 200;
    font-stretch: 98%;
    font-display: swap;
    src: url("/fonts/sf-pro-display/SFProDisplay-UltralightItalic.eot?06238298721099527#iefix") format("embedded-opentype"),
         url("/fonts/sf-pro-display/SFProDisplay-UltralightItalic.woff2?06238298721099527") format("woff2"),
         url("/fonts/sf-pro-display/SFProDisplay-UltralightItalic.woff?06238298721099527") format("woff"),
         url("/fonts/sf-pro-display/SFProDisplay-UltralightItalic.otf?06238298721099527") format("truetype"),
         url("/fonts/sf-pro-display/SFProDisplay-UltralightItalic.svg?06238298721099527#SF-Pro-Display") format("svg");
}
