@font-face {
  font-family: "IconFont";
  font-display: block;
  src: url("/fonts/icon-font/IconFont.eot?31231a467c16ba36893fb04ccfa30a86#iefix") format("embedded-opentype"),
url("/fonts/icon-font/IconFont.woff2?31231a467c16ba36893fb04ccfa30a86") format("woff2"),
url("/fonts/icon-font/IconFont.woff?31231a467c16ba36893fb04ccfa30a86") format("woff"),
url("/fonts/icon-font/IconFont.ttf?31231a467c16ba36893fb04ccfa30a86") format("truetype"),
url("/fonts/icon-font/IconFont.svg?31231a467c16ba36893fb04ccfa30a86#IconFont") format("svg");
}

.icon {
  display: inline-block;
  font-family: "IconFont", sans-serif;
  font-weight: 400;
  font-size: inherit;
  text-rendering: auto;
  text-transform: none;
  font-style: normal;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-users:before {
  content: "\f101";
}

.icon-user-plus:before {
  content: "\f102";
}

.icon-tag-add:before {
  content: "\f103";
}

.icon-star:before {
  content: "\f104";
}

.icon-star-o:before {
  content: "\f105";
}

.icon-spinner:before {
  content: "\f106";
}

.icon-settings:before {
  content: "\f107";
}

.icon-search:before {
  content: "\f108";
}

.icon-machines:before {
  content: "\f109";
}

.icon-logout:before {
  content: "\f10a";
}

.icon-lock:before {
  content: "\f10b";
}

.icon-keys:before {
  content: "\f10c";
}

.icon-key:before {
  content: "\f10d";
}

.icon-key-plus:before {
  content: "\f10e";
}

.icon-info:before {
  content: "\f10f";
}

.icon-eye:before {
  content: "\f110";
}

.icon-expire:before {
  content: "\f111";
}

.icon-edit-code:before {
  content: "\f112";
}

.icon-dropdown:before {
  content: "\f113";
}

.icon-devices:before {
  content: "\f114";
}

.icon-copy:before {
  content: "\f115";
}

.icon-context-menu:before {
  content: "\f116";
}

.icon-connection:before {
  content: "\f117";
}

.icon-close:before {
  content: "\f118";
}

.icon-check:before {
  content: "\f119";
}

.icon-avatar-9:before {
  content: "\f11a";
}

.icon-avatar-8:before {
  content: "\f11b";
}

.icon-avatar-7:before {
  content: "\f11c";
}

.icon-avatar-6:before {
  content: "\f11d";
}

.icon-avatar-5:before {
  content: "\f11e";
}

.icon-avatar-4:before {
  content: "\f11f";
}

.icon-avatar-3:before {
  content: "\f120";
}

.icon-avatar-2:before {
  content: "\f121";
}

.icon-avatar-1:before {
  content: "\f122";
}

.icon-avatar-0:before {
  content: "\f123";
}

.icon-arrow-up:before {
  content: "\f124";
}

.icon-arrow-right:before {
  content: "\f125";
}

.icon-arrow-left:before {
  content: "\f126";
}

.icon-arrow-down:before {
  content: "\f127";
}

.icon-spinner {
animation: 2s spin-rotate linear infinite;
}

@keyframes spin-rotate {

from {
transform: rotate(0deg);
}

to {
transform: rotate(360deg);
}
}

@-webkit-keyframes spin-rotate {

from {
transform: rotate(0deg);
}

to {
transform: rotate(360deg);
}
}
