:root {
  --notify-offset: 0px;
  --notify-margin: 0px;
}

.notification {
  width: 300px;
  min-height: 50px;
  margin-bottom: calc(var(--notify-margin) / 2);
  padding: 0.75rem 1rem;
  background: rgb(var(--bg-notify));
  border: 1px solid rgb(var(--border-notify));
  border-radius: var(--border-radius-lg);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  user-select: none;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  transition:
    transform 400ms,
    opacity 400ms,
    height 400ms,
    box-shadow 200ms;
  transform: translateY(0);
  position: absolute;

  .status-icon {
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 0.25rem;

    .title {
      font-size: 14px;
      font-weight: 500;
    }

    .description {
      font-size: 13px;
      font-weight: 400;
      line-height: 1.2;
      color: rgb(var(--text-secondary));
    }
  }

  .close {
    right: 14px;
    top: 14px;
    padding: 0;
    font-size: 10px;
    border: none;
    background: transparent;
    position: absolute;
    opacity: 0.7;
  }

  &.mounted {
    transform: translateY(var(--notify-offset));
    z-index: 10;
  }

  &.closed {
    opacity: 0;
    transform: translateY(calc(var(--notify-offset) + 100%)) scale(0.4);
    z-index: 5;
  }
}

@keyframes show-notify {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-100%);
  }
}
