@font-face {
    font-family: "SFMono";
    font-style: normal;
    font-weight: 700;
    font-stretch: 98%;
    font-display: swap;
    src: url("/fonts/sf-mono/SFMono-Bold.eot?09864483631816021#iefix") format("embedded-opentype"),
         url("/fonts/sf-mono/SFMono-Bold.woff2?09864483631816021") format("woff2"),
         url("/fonts/sf-mono/SFMono-Bold.woff?09864483631816021") format("woff"),
         url("/fonts/sf-mono/SFMono-Bold.otf?09864483631816021") format("truetype"),
         url("/fonts/sf-mono/SFMono-Bold.svg?09864483631816021#SFMono") format("svg");
}
@font-face {
    font-family: "SFMono";
    font-style: italic;
    font-weight: 700;
    font-stretch: 98%;
    font-display: swap;
    src: url("/fonts/sf-mono/SFMono-BoldItalic.eot?09864483631816021#iefix") format("embedded-opentype"),
         url("/fonts/sf-mono/SFMono-BoldItalic.woff2?09864483631816021") format("woff2"),
         url("/fonts/sf-mono/SFMono-BoldItalic.woff?09864483631816021") format("woff"),
         url("/fonts/sf-mono/SFMono-BoldItalic.otf?09864483631816021") format("truetype"),
         url("/fonts/sf-mono/SFMono-BoldItalic.svg?09864483631816021#SFMono") format("svg");
}
@font-face {
    font-family: "SFMono";
    font-style: normal;
    font-weight: 900;
    font-stretch: 98%;
    font-display: swap;
    src: url("/fonts/sf-mono/SFMono-Heavy.eot?09864483631816021#iefix") format("embedded-opentype"),
         url("/fonts/sf-mono/SFMono-Heavy.woff2?09864483631816021") format("woff2"),
         url("/fonts/sf-mono/SFMono-Heavy.woff?09864483631816021") format("woff"),
         url("/fonts/sf-mono/SFMono-Heavy.otf?09864483631816021") format("truetype"),
         url("/fonts/sf-mono/SFMono-Heavy.svg?09864483631816021#SFMono") format("svg");
}
@font-face {
    font-family: "SFMono";
    font-style: italic;
    font-weight: 900;
    font-stretch: 98%;
    font-display: swap;
    src: url("/fonts/sf-mono/SFMono-HeavyItalic.eot?09864483631816021#iefix") format("embedded-opentype"),
         url("/fonts/sf-mono/SFMono-HeavyItalic.woff2?09864483631816021") format("woff2"),
         url("/fonts/sf-mono/SFMono-HeavyItalic.woff?09864483631816021") format("woff"),
         url("/fonts/sf-mono/SFMono-HeavyItalic.otf?09864483631816021") format("truetype"),
         url("/fonts/sf-mono/SFMono-HeavyItalic.svg?09864483631816021#SFMono") format("svg");
}
@font-face {
    font-family: "SFMono";
    font-style: normal;
    font-weight: 300;
    font-stretch: 98%;
    font-display: swap;
    src: url("/fonts/sf-mono/SFMono-Light.eot?09864483631816021#iefix") format("embedded-opentype"),
         url("/fonts/sf-mono/SFMono-Light.woff2?09864483631816021") format("woff2"),
         url("/fonts/sf-mono/SFMono-Light.woff?09864483631816021") format("woff"),
         url("/fonts/sf-mono/SFMono-Light.otf?09864483631816021") format("truetype"),
         url("/fonts/sf-mono/SFMono-Light.svg?09864483631816021#SFMono") format("svg");
}
@font-face {
    font-family: "SFMono";
    font-style: italic;
    font-weight: 300;
    font-stretch: 98%;
    font-display: swap;
    src: url("/fonts/sf-mono/SFMono-LightItalic.eot?09864483631816021#iefix") format("embedded-opentype"),
         url("/fonts/sf-mono/SFMono-LightItalic.woff2?09864483631816021") format("woff2"),
         url("/fonts/sf-mono/SFMono-LightItalic.woff?09864483631816021") format("woff"),
         url("/fonts/sf-mono/SFMono-LightItalic.otf?09864483631816021") format("truetype"),
         url("/fonts/sf-mono/SFMono-LightItalic.svg?09864483631816021#SFMono") format("svg");
}
@font-face {
    font-family: "SFMono";
    font-style: normal;
    font-weight: 500;
    font-stretch: 98%;
    font-display: swap;
    src: url("/fonts/sf-mono/SFMono-Medium.eot?09864483631816021#iefix") format("embedded-opentype"),
         url("/fonts/sf-mono/SFMono-Medium.woff2?09864483631816021") format("woff2"),
         url("/fonts/sf-mono/SFMono-Medium.woff?09864483631816021") format("woff"),
         url("/fonts/sf-mono/SFMono-Medium.otf?09864483631816021") format("truetype"),
         url("/fonts/sf-mono/SFMono-Medium.svg?09864483631816021#SFMono") format("svg");
}
@font-face {
    font-family: "SFMono";
    font-style: italic;
    font-weight: 500;
    font-stretch: 98%;
    font-display: swap;
    src: url("/fonts/sf-mono/SFMono-MediumItalic.eot?09864483631816021#iefix") format("embedded-opentype"),
         url("/fonts/sf-mono/SFMono-MediumItalic.woff2?09864483631816021") format("woff2"),
         url("/fonts/sf-mono/SFMono-MediumItalic.woff?09864483631816021") format("woff"),
         url("/fonts/sf-mono/SFMono-MediumItalic.otf?09864483631816021") format("truetype"),
         url("/fonts/sf-mono/SFMono-MediumItalic.svg?09864483631816021#SFMono") format("svg");
}
@font-face {
    font-family: "SFMono";
    font-style: normal;
    font-weight: 400;
    font-stretch: 98%;
    font-display: swap;
    src: url("/fonts/sf-mono/SFMono-Regular.eot?09864483631816021#iefix") format("embedded-opentype"),
         url("/fonts/sf-mono/SFMono-Regular.woff2?09864483631816021") format("woff2"),
         url("/fonts/sf-mono/SFMono-Regular.woff?09864483631816021") format("woff"),
         url("/fonts/sf-mono/SFMono-Regular.otf?09864483631816021") format("truetype"),
         url("/fonts/sf-mono/SFMono-Regular.svg?09864483631816021#SFMono") format("svg");
}
@font-face {
    font-family: "SFMono";
    font-style: italic;
    font-weight: 400;
    font-stretch: 98%;
    font-display: swap;
    src: url("/fonts/sf-mono/SFMono-RegularItalic.eot?09864483631816021#iefix") format("embedded-opentype"),
         url("/fonts/sf-mono/SFMono-RegularItalic.woff2?09864483631816021") format("woff2"),
         url("/fonts/sf-mono/SFMono-RegularItalic.woff?09864483631816021") format("woff"),
         url("/fonts/sf-mono/SFMono-RegularItalic.otf?09864483631816021") format("truetype"),
         url("/fonts/sf-mono/SFMono-RegularItalic.svg?09864483631816021#SFMono") format("svg");
}
@font-face {
    font-family: "SFMono";
    font-style: normal;
    font-weight: 600;
    font-stretch: 98%;
    font-display: swap;
    src: url("/fonts/sf-mono/SFMono-Semibold.eot?09864483631816021#iefix") format("embedded-opentype"),
         url("/fonts/sf-mono/SFMono-Semibold.woff2?09864483631816021") format("woff2"),
         url("/fonts/sf-mono/SFMono-Semibold.woff?09864483631816021") format("woff"),
         url("/fonts/sf-mono/SFMono-Semibold.otf?09864483631816021") format("truetype"),
         url("/fonts/sf-mono/SFMono-Semibold.svg?09864483631816021#SFMono") format("svg");
}
@font-face {
    font-family: "SFMono";
    font-style: italic;
    font-weight: 600;
    font-stretch: 98%;
    font-display: swap;
    src: url("/fonts/sf-mono/SFMono-SemiboldItalic.eot?09864483631816021#iefix") format("embedded-opentype"),
         url("/fonts/sf-mono/SFMono-SemiboldItalic.woff2?09864483631816021") format("woff2"),
         url("/fonts/sf-mono/SFMono-SemiboldItalic.woff?09864483631816021") format("woff"),
         url("/fonts/sf-mono/SFMono-SemiboldItalic.otf?09864483631816021") format("truetype"),
         url("/fonts/sf-mono/SFMono-SemiboldItalic.svg?09864483631816021#SFMono") format("svg");
}
