.acl-tags {
  max-width: 420px;

  .title {
    margin-bottom: 0.5rem;
  }

  .sub-title {
    margin-bottom: 1rem;
    color: rgb(var(--text-secondary));
    font-size: 0.875rem;
  }

  .acl-tags-container {
    margin-bottom: 1rem;
    padding: 0.5rem 0.5rem;
    border: 1px solid rgb(var(--border-primary));
    border-radius: var(--border-radius-sm);
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 0.1rem;
  }
}
