.device-routes {
  .routes-checkboxes {
    .route-checkbox {
      .ui-label {
        order: 2;
        margin-bottom: 0;
        font-size: 1rem;
        color: rgb(var(--text-primary));
      }

      .control {
        order: 1;
      }

      &.disabled {
        .ui-label {
          color: rgb(var(--text-secondary));
        }
      }
    }
  }

  .no-routes {
    margin-top: 0.5rem;
    padding: 1.25rem 0.5rem;
    color: rgb(var(--text-secondary));
    text-align: center;
    border: 1px solid rgb(var(--border-primary));
    border-radius: var(--border-radius-sm);
    background-color: rgb(var(--bg-primary) / 0.7);
  }
}
