.device-page {
  .content {
    .title {
      margin-bottom: 0.5rem;
    }

    .sub-title {
      margin-bottom: 1rem;
      color: rgb(var(--text-secondary));
      font-size: 0.875rem;
    }
  }

  .page-caption {
    position: relative;

    .badge {
      top: -10px;
      left: 6px;
      font-size: 12px;
      font-weight: 700;
      position: relative;

      &.online {
        color: rgb(var(--green-500));
      }

      &.offline {
        color: rgb(var(--text-secondary));
      }
    }
  }

  .main-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;

    .ip-addresses {
      .ip-address {
        margin-right: 0.75rem;
        font-size: 1.25rem;
      }
    }

    .meta-data {
      width: fit-content;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 0.5rem;

      .label {
        color: rgb(var(--text-secondary));
      }

      .value {
        text-align: right;
      }
    }
  }

  .danger-content {
    .title {
      margin-bottom: 1rem;
    }

    .space-between {
      margin-bottom: 1rem;
      gap: 1rem;

      .btn {
        min-width: 140px;
        white-space: nowrap;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .device-page {
    .main-content {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

@media screen and (max-width: 500px) {
  .device-page {
    .danger-content {
      .space-between {
      }
    }
  }
}
