.btn-open-context-menu {
  --context-btn-icon-size: 1.6rem;
  --context-btn-padding: 0.2rem;
  --context-btn-size: calc(var(--context-btn-icon-size) + (var(--context-btn-padding) * 2) + 2px);

  height: var(--context-btn-size);
  width: var(--context-btn-size);
  aspect-ratio: 1/1;
  padding: var(--context-btn-padding);
  line-height: 1;
  font-size: var(--context-btn-icon-size);
  color: rgb(var(--text-secondary) / 0.8);
  text-shadow:
    0 0 0 rgb(var(--text-primary) / 0),
    0 0 0 rgb(var(--bg-primary) / 0);
  transition:
    text-shadow 0.2s ease,
    color 0.2s ease;

  &:hover {
    color: rgb(var(--text-primary) / 0.8);
  }

  &:active {
    text-shadow:
      0 0 4px rgb(var(--bg-primary) / 0.8),
      0 0 3px rgb(var(--text-primary) / 0.8);
  }
}

.context-menu {
  min-width: 180px;
  padding: 10px 0;
  color: rgb(var(--text-primary));
  background-color: rgb(var(--bg-popover) / 1);
  box-shadow:
    0 4px 6px -1px rgb(0 0 0 / 0.3),
    0 2px 4px -2px rgb(0 0 0 / 0.3),
    0 -2px 4px -2px rgb(0 0 0 / 0.3);
  border-radius: 0.5rem;
  border: 1px solid rgb(var(--border-primary) / 1);
  overflow: hidden;

  .context-menu-item {
    list-style: none;

    .btn-context-menu {
      width: 100%;
      height: 36px;
      padding: 6px 16px;
      font-weight: 400;
      font-size: 16px;
      line-height: 18px;
      text-align: start;
      border-radius: 0;
      border: none;
      transition: background-color 0.2s ease-in-out;

      .icon {
        width: 16px;
        height: auto;
        aspect-ratio: 1;
        margin-right: 12px;
        font-size: 14px;
        line-height: 14px;

        &.icon-check {
          margin-right: 0;
        }
      }

      &.danger {
        color: rgb(var(--error));
      }

      &:hover {
        background-color: rgb(var(--bg-popover-hover) / 1);
      }
    }
  }

  .context-menu-divider {
    margin: 6px 0;
    border-color: rgb(var(--border-popover));
  }
}
