.popup-base-wrap-content {
  left: -9999px;
  top: -9999px;
  max-width: 280px;
  position: fixed;
  opacity: 0;
  pointer-events: none;
  z-index: 9999;

  .arrow {
    border: 6px solid transparent;
    height: 0;
    width: 0;
    display: block;
    position: absolute;
  }

  /* TOP */
  &.popup-placement-top {
    transition: opacity .2s ease-out, transform .15s ease-out;
    transform: translate(0%, 6px);
    opacity: 0;

    .arrow {
      bottom: -12px;
      left: calc(50% - 6px);
      border-top-color: var(--background-popup);
      filter: drop-shadow(0 1px var(--background-popup));
    }

    &.arrow-right .arrow {
      left: calc(100% - 22px);
    }

    &.arrow-left .arrow {
      left: 10px;
    }
  }

  /* BOTTOM */
  &.popup-placement-bottom {
    transition: opacity .2s ease-out, transform .15s ease-out;
    transform: translate(0%, -6px);
    opacity: 0;

    .arrow {
      top: -12px;
      left: calc(50% - 6px);
      border-bottom-color: var(--background-popup);
      filter: drop-shadow(0 1px var(--background-popup));
    }
    &.arrow-right .arrow {
      left: calc(100% - 22px);
    }
    &.arrow-left .arrow {
      left: 10px;
    }
  }

  /* LEFT */
  &.popup-placement-left {
    transition: opacity .2s ease-out, transform .15s ease-out;
    transform: translate(6px, 0%);
    opacity: 0;

    .arrow {
      top: calc(50% - 6px);
      right: -12px;
      border-left-color: var(--background-popup);
      filter: drop-shadow(0 1px var(--background-popup));
    }
    &.arrow-top .arrow {
      top: 10px;
    }
    &.arrow-bottom .arrow {
      top: calc(100% - 22px);
    }
  }

  /* RIGHT */
  &.popup-placement-right {
    transition: opacity .2s ease-out, transform .15s ease-out;
    transform: translate(-6px, 0%);
    opacity: 0;

    .arrow {
      top: calc(50% - 6px);
      left: -12px;
      border-right-color: var(--background-popup);
      filter: drop-shadow(0 1px var(--background-popup));
    }
    &.arrow-top .arrow {
      top: 10px;
    }
    &.arrow-bottom .arrow {
      top: calc(100% - 22px);
    }
  }

  &.show {
    transform: translate(0%, 0%);
    opacity: 1;
  }
}