.metrics-page {
  padding-top: 1.5rem;

  h2 {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }

  .sub-caption {
    color: rgb(var(--text-secondary));
  }

  .tabs-links {
    margin: 1rem 0 2rem;
    display: flex;
    align-items: stretch;
    justify-content: start;
    position: relative;
    gap: 1rem;

    .tab-link {
      height: 37px;
      padding: 0.5rem 0.25rem 0.3rem;
      font-weight: 600;
      color: rgb(var(--text-secondary));
      position: relative;
      text-decoration: none;

      &:after {
        content: ' ';
        bottom: -5px;
        left: -2px;
        width: 0;
        height: 3px;
        background-color: rgb(var(--accent));
        position: absolute;
        transition: width 0.15s ease-in;
      }

      &:hover {
        color: rgb(var(--text-primary));
      }

      &.active {
        color: rgb(var(--accent));

        &:after {
          width: calc(100% + 4px);
        }
      }
    }
  }
}
