.toast-is-fetching {
  right: 0;
  bottom: 0;
  width: 100px;
  height: 60px;
  position: fixed;
  overflow: hidden;

  .spinner-wrap {
    top: 66px;
    position: absolute;
    transition: top .3s linear;
    will-change: top;

    .spinner {
      color: rgb(var(--accent));
      animation: toast-is-fetching-animation .5s linear infinite;
    }
  }

  &.show {

    .spinner-wrap {
      top: 0;
    }
  }
}

@keyframes toast-is-fetching-animation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}