.empty-list {
  padding: 3rem 2rem;
  border: 1px solid rgb(var(--border-primary));
  border-radius: 0.375rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .message {
    margin-top: 2rem;
    font-size: 1.15rem;
    color: rgb(var(--text-secondary));
  }
}
