.modal-node-routes {
  .subnet-routes-block {
    .subnet-route {
      margin: 6px 0;

      .control {
        margin-left: 0;
      }

      .ui-subscript {
        display: none;
      }
    }
  }

  .exit-node-checkbox-wrap {
    .exit-node-checkbox {
      margin: 8px 0 0;

      .control {
        margin-left: 0;
      }

      .ui-subscript {
        display: none;
      }
    }
  }
}
