.user-photo {
  text-align: center;
  overflow: hidden;
  position: relative;
  border-radius: 50%;
  background: transparent;

  .loader {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    background: rgb(var(--bg-skeleton) / 1);
    z-index: 10;
  }

  img {
    width: 100%;
    height: 100%;
  }

  &.generated {
    background-color: rgb(var(--orange-700));
    text-align: center;

    i {
      line-height: 1;
    }
  }
}
