.devices-page {
  padding-top: 1.5rem;

  .caption {
    margin-bottom: 1rem;
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;

    .actions {
      margin-top: 1rem;
    }
  }
}

@media (min-width: 640px) {

  .devices-page {

    .caption {
      margin-bottom: 2rem;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;

      .actions {
        margin-top: 0;
      }
    }
  }
}