@font-face {
    font-family: "SFProText";
    font-style: normal;
    font-weight: 700;
    font-stretch: 98%;
    font-display: swap;
    src: url("/fonts/sf-pro-text/SFProText-Bold.eot?hash=07711936#iefix") format("embedded-opentype"),
         url("/fonts/sf-pro-text/SFProText-Bold.woff2?hash=07711936") format("woff2"),
         url("/fonts/sf-pro-text/SFProText-Bold.woff?hash=07711936") format("woff"),
         url("/fonts/sf-pro-text/SFProText-Bold.ttf?hash=07711936") format("truetype");
}
@font-face {
    font-family: "SFProText";
    font-style: normal;
    font-weight: 300;
    font-stretch: 98%;
    font-display: swap;
    src: url("/fonts/sf-pro-text/SFProText-Light.eot?hash=07711936#iefix") format("embedded-opentype"),
         url("/fonts/sf-pro-text/SFProText-Light.woff2?hash=07711936") format("woff2"),
         url("/fonts/sf-pro-text/SFProText-Light.woff?hash=07711936") format("woff"),
         url("/fonts/sf-pro-text/SFProText-Light.ttf?hash=07711936") format("truetype");
}
@font-face {
    font-family: "SFProText";
    font-style: normal;
    font-weight: 500;
    font-stretch: 98%;
    font-display: swap;
    src: url("/fonts/sf-pro-text/SFProText-Medium.eot?hash=07711936#iefix") format("embedded-opentype"),
         url("/fonts/sf-pro-text/SFProText-Medium.woff2?hash=07711936") format("woff2"),
         url("/fonts/sf-pro-text/SFProText-Medium.woff?hash=07711936") format("woff"),
         url("/fonts/sf-pro-text/SFProText-Medium.ttf?hash=07711936") format("truetype");
}
@font-face {
    font-family: "SFProText";
    font-style: normal;
    font-weight: 400;
    font-stretch: 98%;
    font-display: swap;
    src: url("/fonts/sf-pro-text/SFProText-Regular.eot?hash=07711936#iefix") format("embedded-opentype"),
         url("/fonts/sf-pro-text/SFProText-Regular.woff2?hash=07711936") format("woff2"),
         url("/fonts/sf-pro-text/SFProText-Regular.woff?hash=07711936") format("woff"),
         url("/fonts/sf-pro-text/SFProText-Regular.ttf?hash=07711936") format("truetype");
}
@font-face {
    font-family: "SFProText";
    font-style: normal;
    font-weight: 600;
    font-stretch: 98%;
    font-display: swap;
    src: url("/fonts/sf-pro-text/SFProText-Semibold.eot?hash=07711936#iefix") format("embedded-opentype"),
         url("/fonts/sf-pro-text/SFProText-Semibold.woff2?hash=07711936") format("woff2"),
         url("/fonts/sf-pro-text/SFProText-Semibold.woff?hash=07711936") format("woff"),
         url("/fonts/sf-pro-text/SFProText-Semibold.ttf?hash=07711936") format("truetype");
}
