@font-face {
    font-family: "SFProText";
    font-style: normal;
    font-weight: 700;
    font-stretch: 98%;
    font-display: swap;
    src: url("/fonts/sf-pro-text/SFProText-Bold.eot?07711936112808588#iefix") format("embedded-opentype"),
         url("/fonts/sf-pro-text/SFProText-Bold.woff2?07711936112808588") format("woff2"),
         url("/fonts/sf-pro-text/SFProText-Bold.woff?07711936112808588") format("woff"),
         url("/fonts/sf-pro-text/SFProText-Bold.ttf?07711936112808588") format("truetype"),
         url("/fonts/sf-pro-text/SFProText-Bold.svg?07711936112808588#SFProText") format("svg");
}
@font-face {
    font-family: "SFProText";
    font-style: italic;
    font-weight: 700;
    font-stretch: 98%;
    font-display: swap;
    src: url("/fonts/sf-pro-text/SFProText-BoldItalic.eot?07711936112808588#iefix") format("embedded-opentype"),
         url("/fonts/sf-pro-text/SFProText-BoldItalic.woff2?07711936112808588") format("woff2"),
         url("/fonts/sf-pro-text/SFProText-BoldItalic.woff?07711936112808588") format("woff"),
         url("/fonts/sf-pro-text/SFProText-BoldItalic.ttf?07711936112808588") format("truetype"),
         url("/fonts/sf-pro-text/SFProText-BoldItalic.svg?07711936112808588#SFProText") format("svg");
}
@font-face {
    font-family: "SFProText";
    font-style: normal;
    font-weight: 900;
    font-stretch: 98%;
    font-display: swap;
    src: url("/fonts/sf-pro-text/SFProText-Heavy.eot?07711936112808588#iefix") format("embedded-opentype"),
         url("/fonts/sf-pro-text/SFProText-Heavy.woff2?07711936112808588") format("woff2"),
         url("/fonts/sf-pro-text/SFProText-Heavy.woff?07711936112808588") format("woff"),
         url("/fonts/sf-pro-text/SFProText-Heavy.ttf?07711936112808588") format("truetype"),
         url("/fonts/sf-pro-text/SFProText-Heavy.svg?07711936112808588#SFProText") format("svg");
}
@font-face {
    font-family: "SFProText";
    font-style: italic;
    font-weight: 900;
    font-stretch: 98%;
    font-display: swap;
    src: url("/fonts/sf-pro-text/SFProText-HeavyItalic.eot?07711936112808588#iefix") format("embedded-opentype"),
         url("/fonts/sf-pro-text/SFProText-HeavyItalic.woff2?07711936112808588") format("woff2"),
         url("/fonts/sf-pro-text/SFProText-HeavyItalic.woff?07711936112808588") format("woff"),
         url("/fonts/sf-pro-text/SFProText-HeavyItalic.ttf?07711936112808588") format("truetype"),
         url("/fonts/sf-pro-text/SFProText-HeavyItalic.svg?07711936112808588#SFProText") format("svg");
}
@font-face {
    font-family: "SFProText";
    font-style: normal;
    font-weight: 300;
    font-stretch: 98%;
    font-display: swap;
    src: url("/fonts/sf-pro-text/SFProText-Light.eot?07711936112808588#iefix") format("embedded-opentype"),
         url("/fonts/sf-pro-text/SFProText-Light.woff2?07711936112808588") format("woff2"),
         url("/fonts/sf-pro-text/SFProText-Light.woff?07711936112808588") format("woff"),
         url("/fonts/sf-pro-text/SFProText-Light.ttf?07711936112808588") format("truetype"),
         url("/fonts/sf-pro-text/SFProText-Light.svg?07711936112808588#SFProText") format("svg");
}
@font-face {
    font-family: "SFProText";
    font-style: italic;
    font-weight: 300;
    font-stretch: 98%;
    font-display: swap;
    src: url("/fonts/sf-pro-text/SFProText-LightItalic.eot?07711936112808588#iefix") format("embedded-opentype"),
         url("/fonts/sf-pro-text/SFProText-LightItalic.woff2?07711936112808588") format("woff2"),
         url("/fonts/sf-pro-text/SFProText-LightItalic.woff?07711936112808588") format("woff"),
         url("/fonts/sf-pro-text/SFProText-LightItalic.ttf?07711936112808588") format("truetype"),
         url("/fonts/sf-pro-text/SFProText-LightItalic.svg?07711936112808588#SFProText") format("svg");
}
@font-face {
    font-family: "SFProText";
    font-style: normal;
    font-weight: 500;
    font-stretch: 98%;
    font-display: swap;
    src: url("/fonts/sf-pro-text/SFProText-Medium.eot?07711936112808588#iefix") format("embedded-opentype"),
         url("/fonts/sf-pro-text/SFProText-Medium.woff2?07711936112808588") format("woff2"),
         url("/fonts/sf-pro-text/SFProText-Medium.woff?07711936112808588") format("woff"),
         url("/fonts/sf-pro-text/SFProText-Medium.ttf?07711936112808588") format("truetype"),
         url("/fonts/sf-pro-text/SFProText-Medium.svg?07711936112808588#SFProText") format("svg");
}
@font-face {
    font-family: "SFProText";
    font-style: italic;
    font-weight: 500;
    font-stretch: 98%;
    font-display: swap;
    src: url("/fonts/sf-pro-text/SFProText-MediumItalic.eot?07711936112808588#iefix") format("embedded-opentype"),
         url("/fonts/sf-pro-text/SFProText-MediumItalic.woff2?07711936112808588") format("woff2"),
         url("/fonts/sf-pro-text/SFProText-MediumItalic.woff?07711936112808588") format("woff"),
         url("/fonts/sf-pro-text/SFProText-MediumItalic.ttf?07711936112808588") format("truetype"),
         url("/fonts/sf-pro-text/SFProText-MediumItalic.svg?07711936112808588#SFProText") format("svg");
}
@font-face {
    font-family: "SFProText";
    font-style: normal;
    font-weight: 400;
    font-stretch: 98%;
    font-display: swap;
    src: url("/fonts/sf-pro-text/SFProText-Regular.eot?07711936112808588#iefix") format("embedded-opentype"),
         url("/fonts/sf-pro-text/SFProText-Regular.woff2?07711936112808588") format("woff2"),
         url("/fonts/sf-pro-text/SFProText-Regular.woff?07711936112808588") format("woff"),
         url("/fonts/sf-pro-text/SFProText-Regular.ttf?07711936112808588") format("truetype"),
         url("/fonts/sf-pro-text/SFProText-Regular.svg?07711936112808588#SFProText") format("svg");
}
@font-face {
    font-family: "SFProText";
    font-style: italic;
    font-weight: 400;
    font-stretch: 98%;
    font-display: swap;
    src: url("/fonts/sf-pro-text/SFProText-RegularItalic.eot?07711936112808588#iefix") format("embedded-opentype"),
         url("/fonts/sf-pro-text/SFProText-RegularItalic.woff2?07711936112808588") format("woff2"),
         url("/fonts/sf-pro-text/SFProText-RegularItalic.woff?07711936112808588") format("woff"),
         url("/fonts/sf-pro-text/SFProText-RegularItalic.ttf?07711936112808588") format("truetype"),
         url("/fonts/sf-pro-text/SFProText-RegularItalic.svg?07711936112808588#SFProText") format("svg");
}
@font-face {
    font-family: "SFProText";
    font-style: normal;
    font-weight: 600;
    font-stretch: 98%;
    font-display: swap;
    src: url("/fonts/sf-pro-text/SFProText-Semibold.eot?07711936112808588#iefix") format("embedded-opentype"),
         url("/fonts/sf-pro-text/SFProText-Semibold.woff2?07711936112808588") format("woff2"),
         url("/fonts/sf-pro-text/SFProText-Semibold.woff?07711936112808588") format("woff"),
         url("/fonts/sf-pro-text/SFProText-Semibold.ttf?07711936112808588") format("truetype"),
         url("/fonts/sf-pro-text/SFProText-Semibold.svg?07711936112808588#SFProText") format("svg");
}
@font-face {
    font-family: "SFProText";
    font-style: italic;
    font-weight: 600;
    font-stretch: 98%;
    font-display: swap;
    src: url("/fonts/sf-pro-text/SFProText-SemiboldItalic.eot?07711936112808588#iefix") format("embedded-opentype"),
         url("/fonts/sf-pro-text/SFProText-SemiboldItalic.woff2?07711936112808588") format("woff2"),
         url("/fonts/sf-pro-text/SFProText-SemiboldItalic.woff?07711936112808588") format("woff"),
         url("/fonts/sf-pro-text/SFProText-SemiboldItalic.ttf?07711936112808588") format("truetype"),
         url("/fonts/sf-pro-text/SFProText-SemiboldItalic.svg?07711936112808588#SFProText") format("svg");
}
