:root {
  --tag-color: #232222;
}

.acl-tag {
  padding: 4px 8px;
  display: flex;
  align-items: center;
  border-radius: 99999px;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  box-sizing: border-box;
  color: rgb(var(--text-secondary) / .85);
  border: 1px solid rgb(var(--border-primary));
  background-color: transparent;

  .tag-name {

    position: relative;

    .name {
      color: rgb(var(--text-primary));

    }
  }

  .btn-remove {
    margin-left: 6px;

    &:hover {
      color: rgb(var(--text-primary));
    }
  }
}