:root {
  --tag-color: #232222;
}

.acl-tag-wrapper {
  padding: 4px;
}

.acl-tag {
  height: 22px;
  padding: 4px 6px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  box-sizing: border-box;
  color: rgb(var(--text-secondary));
  border: 1px solid rgb(var(--border-secondary) / .8);
  background-color: rgb(var(--bg-primary));
  position: relative;

  .tag-name {
    font-weight: 400;
    font-synthesis: small-caps;
    font-optical-sizing: auto;
    text-rendering: geometricPrecision;
    font-variation-settings: "wdth" 110;
    font-size: 12px;
    line-height: 1;

    .name {
      color: rgb(var(--text-primary));

    }
  }

  .btn-remove {
    margin-left: 6px;
    margin-right: -2px;

    .icon {
      font-size: 8px;
      font-weight: 500;
    }

    &:hover {
      color: rgb(var(--text-primary));
    }
  }


}