.api-token-item {
  height: 60px;
  border-bottom: 1px solid rgb(var(--border-primary));

  .cell-0 {
    width: 60px;

    .logo {
      width: 36px;
      height: 36px;
      text-align: center;
      border-radius: 50%;
      background-color: rgb(var(--green-700) / 0.7);

      i {
        font-size: 18px;
        line-height: 36px;
        color: white;
      }
    }
  }

  .cell-1 {
    .key-wrap {
      display: flex;
      align-items: center;

      .key {
        max-width: 100px;
        direction: rtl;
        text-align: right;
      }

      .btn-copy {
        margin: 0.75rem;
      }
    }
  }
}
