.ip-addresses {
  white-space: nowrap;
  color: rgb(var(--text-primary));
}

.address-row {
  width: 100%;
  padding: 0.375rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(var(--text-primary));

  &:hover {
    background-color: rgb(var(--bg-secondary) / 0.7);
  }
}
