.site-nav-menu {
  display: flex;

  .nav-link {
    display: flex;
    align-items: center;
    font-weight: 500;
    white-space: nowrap;
    color: rgb(var(--text-secondary) / .9);
    transition: color .15s ease-in;
    user-select: none;
    position: relative;
    text-decoration: none;

    &:after {
      content: " ";
      width: 0;
      height: 3px;
      background-color: rgb(var(--accent));
      position: absolute;
    }

    &:hover {
      color: rgb(var(--text-primary));
    }

    &.active {
      color: rgb(var(--accent));
    }
  }

  &.desktop {
    flex-direction: row;
    gap: 1rem;

    .nav-link {
      height: 22px;
      margin: 0 4px;
      font-size: 16px;

      .icon {
        margin-right: .5rem;
      }

      &:after {
        bottom: -18px;
        left: -4px;
        transition: width .15s ease-in;
      }

      &.active:after {
        width: calc(100% + 8px);
      }
    }
  }

  &.mobile {
    padding: 1rem 0;
    flex-direction: column;

    .nav-link {
      margin: 0;
      padding: 12px 20px;
      font-size: 18px;
      position: relative;

      .icon {
        width: 20px;
        margin-right: .75rem;
        text-align: center;
        font-size: 1.2em;
      }

      &:after {
        bottom: 0;
        left: 0;
        width: 3px;
        height: 0;
      }

      &.active {
        background-color: rgb(var(--accent) / .1);
        color: rgb(var(--text-primary));

        &:after {
          height: 100%;
        }
      }
    }
  }
}