.header {

  .main-menu {
    display: flex;
    gap: 1rem;

    .nav-link {
      margin: 0 0.375rem;
      display: flex;
      align-items: center;
      font-weight: 600;
      color: rgb(var(--text-secondary) / .9);
      transition: color .15s ease-in;
      position: relative;

      &:after {
        content: " ";
        bottom: -18px;
        left: -2px;
        width: 0;
        height: 3px;
        background-color: rgb(var(--accent));
        position: absolute;
        transition: width .15s ease-in;
      }

      &:hover {
        color: rgb(var(--text-primary));
      }

      &.active {
        color: rgb(var(--accent));

        &:after {
          width: calc(100% + 4px);
        }
      }
    }


  }

  .config {

    .btn-config {
      height: auto;
      padding: .25rem;
      color: rgb(var(--text-secondary));
      display: block;

      &:hover {
        color: rgb(var(--text-primary));
      }
    }
  }
}