.header {
  top: 0;
  left: 0;
  right: 0;
  height: var(--header-height);
  background-color: rgb(var(--bg-primary));
  border-bottom: 1px solid color-mix(in srgb, rgb(var(--bg-primary)) 90%, rgb(var(--text-primary)) 10%);
  box-shadow: 0 1px 0 0 rgb(var(--text-primary) / .02);
  position: fixed;
  z-index: 20;

  .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .mobile-nav-menu-backdrop {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: fixed;
    z-index: 1000;
  }

  .mobile-nav-menu-wrap {
    width: 300px;
    left: -300px;
    top: var(--header-height);
    height: calc(100vh - var(--header-height));
    background-color: rgb(var(--bg-primary));
    transition: left .15s ease-out;
    position: fixed;
    z-index: 1001;

    &.is-open {
      left: 0;
      transition: left .3s ease-in;
    }
  }
}