footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
  position: relative;
}

@media (min-width: 640px) {
  footer {
    height: var(--footer-height);
    justify-content: center;
    flex-direction: row;
  }
}
