.error-404-page {
  width: auto;
  height: var(--content-height);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .animation {
    max-width: 98vw;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .static {
    margin-bottom: 1rem;
    max-width: 98vw;

    img {
      width: 100%;
      height: auto;
    }
  }

  .message {
    margin: 1.25rem .25rem 0;
    font-size: 1.5rem;
    text-align: center;
  }

  .go-home {
    margin: 1.25rem .5rem 0;
    font-size: 1.5rem;
    text-underline-offset: 0.375rem;
    text-align: center;
  }
}