.auth-provider-lock {
  width: 100vw;
  height: 100vh;
  background-color: rgb(var(--bg-secondary));
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 40;
}
