.btn-config-wrapper {
  .btn-config {
    height: auto;
    padding: 0.25rem;
    color: rgb(var(--text-secondary));
    display: block;

    &:hover {
      color: rgb(var(--text-primary));
    }
  }
}
