@import '/fonts/jet-brains-mono/font.css';
@import '/fonts/sf-pro-text/font.css';
@import '/fonts/icon-font/icon-font.css';

@layer base, components;

/*@tailwind base;*/
/*@tailwind components;*/
/*@tailwind utilities;*/

/* xs: @media (min-width: 480px) {} */
/* sm: @media (min-width: 640px) {} */
/* md: @media (min-width: 768px) {} */
/* lg: @media (min-width: 1024px) {} */
/* xl: @media (min-width: 1280px) {} */
/* 2xl: @media (min-width: 1536px) {} */

/* CSS Variables */
:root {
  --header-height: 60px;
  --footer-height: 60px;
  --content-height: calc(100vh - var(--header-height) - var(--footer-height));

  --border-radius-xs: 0.125rem;
  --border-radius-sm: 0.25rem;
  --border-radius-md: 0.375rem;
  --border-radius-lg: 0.5rem;
  --border-radius-xl: 0.75rem;
  --border-radius-full: 9999999px;
}

/* Common colors */
:root {
  --blue-950: 14 51 93;
  --blue-900: 13 84 155;
  --blue-800: 8 97 197;
  --blue-700: 0 115 229;
  --blue-600: 6 148 255;
  --blue-500: 30 177 255;
  --blue-400: 72 207 255;
  --blue-300: 131 226 255;
  --blue-200: 181 236 255;
  --blue-100: 214 243 255;
  --blue-50: 237 250 255;

  --orange-50: 255 247 236;
  --orange-100: 255 236 211;
  --orange-200: 255 213 165;
  --orange-300: 255 184 109;
  --orange-400: 255 142 50;
  --orange-500: 255 109 10;
  --orange-600: 255 83 0;
  --orange-700: 204 58 2;
  --orange-800: 161 45 11;
  --orange-900: 130 40 12;
  --orange-950: 70 17 4;

  --green-50: 240 253 244;
  --green-100: 220 252 231;
  --green-200: 187 247 208;
  --green-300: 134 239 172;
  --green-400: 74 222 128;
  --green-500: 34 197 94;
  --green-600: 22 163 74;
  --green-700: 21 128 61;
  --green-800: 22 101 52;
  --green-900: 20 83 45;
  --green-950: 5 46 22;
}

/* Light theme colors */
:root {
  --accent: 0 115 229;
  --black: 0 0 0;
  --error: 220 38 38;

  --bg-primary: 238 235 234;
  --bg-secondary: 247 245 244;
  --bg-skeleton: 190 194 194;
  --bg-popover: 247 245 244;
  --bg-popover-hover: 230 230 230;
  --bg-toast-danger: 147 3 3;
  --bg-notify: 247 245 244;

  --border-primary: 218 214 213;
  --border-secondary: 190 194 194;
  --border-popover: 218 214 213;
  --border-notify: 218 214 213;

  --text-primary: 0 0 0;
  --text-secondary: 50 50 50;

  --bar-color-1: #0073e5;
  --bar-color-2: #22782c;
  --bar-color-3: #c16841;
  --bar-color-4: #aa2395;
  --bar-color-5: #1e9898;
  --bar-color-6: #f75464;

  /* JSON editor highlight */
  --code-highlight-number: #1c86c6;
  --code-highlight-string: #22782c;
  --code-highlight-keyword: #c16841;
  --code-highlight-property: #aa2395;
  --code-highlight-brace: #60686c;
  --code-highlight-punctuation: #60686c;
  --code-highlight-comments: #60686c;
  --code-trailing-space: rgba(255 116 104 / 0.33);
  --code-trailing-bad: #f75464;
  --code-selection: rgb(33 66 131 / 0.5);

  color-scheme: light;
}

/* Dark theme colors */
html.dark {
  --accent: 38 145 255;
  --black: 0 0 0;
  --error: 220 38 38;

  --bg-primary: 25 24 24;
  --bg-secondary: 15 15 15;
  --bg-skeleton: 45 45 45;
  --bg-popover: 31 30 30;
  --bg-popover-hover: 38 37 37;
  --bg-toast-danger: 147 3 3;
  --bg-notify: 15 15 15;

  --border-primary: 45 45 45;
  --border-secondary: 75 75 75;
  --border-popover: 46 45 45;
  --border-notify: 45 45 45;

  /** Text */
  --text-primary: 255 255 255;
  --text-secondary: 126 129 131;

  /* JSON editor highlight */
  --code-highlight-number: #2aacb8;
  --code-highlight-string: #6aab73;
  --code-highlight-keyword: #cf8e6d;
  --code-highlight-property: #c77dbb;
  --code-highlight-brace: #bcbec4;
  --code-highlight-punctuation: #bcbec4;
  --code-highlight-comments: #7a7e85;
  --code-trailing-space: rgba(255 116 104 / 0.33);
  --code-trailing-bad: #df2334;
  --code-selection: rgb(33 66 131 / 0.5);

  color-scheme: dark;
}

/* Base styles fonts, colors, etc. */
@layer base {
  body {
    padding: 0;
    margin: 0;
    background-color: rgb(var(--bg-secondary));

    font-family: SFProText, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.4;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: normal;
    font-variation-settings: normal;
    tab-size: 4;

    color-scheme: light dark;
    color: rgb(var(--text-primary));
  }

  * {
    border-width: 0;
    box-sizing: border-box;
    border-style: solid;
    border-color: currentColor;

    &:after,
    &:before {
      box-sizing: border-box;
    }
  }

  h1 {
    font-size: 1.875rem;
    line-height: 1.4;
    font-weight: 500;
  }
  h2 {
    font-size: 1.5rem;
    line-height: 1.3;
    font-weight: 500;
  }
  h3 {
    font-size: 1.25rem;
    line-height: 1.3;
    font-weight: 500;
  }

  a {
    color: inherit;
    text-decoration: underline;
    text-underline-offset: 3px;

    &:hover {
      text-decoration: none;
    }
  }

  p {
    margin: 0;
  }

  hr {
    margin: 1.5rem 0;
    border-top: 1px solid rgb(var(--border-primary));
  }

  input {
    outline: none;
    background-color: transparent;
    border: none;
    color: rgb(var(--text-primary));
  }

  button {
    background-color: transparent;
    border: 1px solid transparent;
    outline: none;
    color: rgb(var(--text-primary));
    font-size: 100%;
  }
}

/* Text style */
@layer components {
  .digits {
    font-family: SFPro-Text, sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-rendering: optimizeLegibility;
    font-variation-settings: 'wdth' 98;
    line-height: 1.2;
  }

  .monospace {
    font-family: JetBrainsMono, monospace;
    font-optical-sizing: auto;
    text-rendering: optimizeLegibility;
    font-variation-settings: 'wdth' 98;
    line-height: 1.2;
  }

  .text-primary {
    color: rgb(var(--text-primary));
  }

  .text-secondary {
    color: rgb(var(--text-secondary));
  }

  .text-danger {
    color: rgb(var(--error));
  }

  .font-normal {
    font-weight: 400;
  }

  .font-medium {
    font-weight: 500;
  }

  .font-semibold {
    font-weight: 600;
  }

  .font-bold {
    font-weight: 700;
  }

  .text-right {
    text-align: right;
  }

  .text-center {
    text-align: center;
  }

  .text-left {
    text-align: left;
  }

  .text-xs {
    font-size: 0.75rem;
    line-height: 1rem;
  }

  .text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  .text-base {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  .text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }

  .text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  .text-\[11px\] {
    font-size: 11px;
  }
}

/* Page layout & container */
@layer components {
  .page {
    padding-top: 1.5rem;
  }

  .container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }

  @media (min-width: 96vw) {
    .container {
      max-width: 96vw;
    }
  }

  @media (min-width: 1280px) {
    .container {
      max-width: 1280px;
      padding-right: 5rem;
      padding-left: 5rem;
    }
  }

  @media (min-width: 1536px) {
    .container {
      max-width: 1536px;
      padding-right: 6rem;
      padding-left: 6rem;
    }
  }
}

/* Sizes */
@layer components {

  .w-full {
    width: 100%;
  }

  .w-1\/2 {
    width: 50%;
  }
}

/* Spaces */
@layer components {
  .p-0 {
    padding: 0;
  }

  .p-4 {
    padding: 1rem;
  }

  .pt-2 {
    padding-top: 0.5rem;
  }

  .pt-6 {
    padding-top: 1.5rem;
  }

  .pt-10 {
    padding-top: 2.5rem;
  }

  .pb-4 {
    padding-bottom: 1rem;
  }

  .pl-3 {
    padding-left: 0.75rem;
  }

  .pl-10 {
    padding-left: 2.5rem;
  }

  .pr-1 {
    padding-right: 0.5rem;
  }

  .py-1\.5 {
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
  }

  .py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .px-1 {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }

  .px-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .px-3 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }

  .px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .m-3 {
    margin: 0.75rem;
  }

  .mt-2 {
    margin-top: 0.5rem;
  }

  .mt-4 {
    margin-top: 1rem;
  }

  .mt-6 {
    margin-top: 1.5rem;
  }

  .mb-\[1px\] {
    margin-bottom: 1px;
  }

  .mb-1 {
    margin-bottom: 0.25rem;
  }

  .mb-2 {
    margin-bottom: 0.5rem;
  }

  .mb-3 {
    margin-bottom: 0.75rem;
  }

  .mb-4 {
    margin-bottom: 1rem;
  }

  .mr-3 {
    margin-right: 0.75rem;
  }

  .mr-6 {
    margin-right: 1.5rem;
  }

  .mr-auto {
    margin-right: auto;
  }

  .ml-2 {
    margin-left: 0.5rem;
  }

  .ml-4 {
    margin-left: 1rem;
  }

  .ml-6 {
    margin-left: 1.5rem;
  }

  .my-2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .my-4 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .ml-auto {
    margin-left: auto;
  }

  @media (min-width: 1024px) {
    .lg\:pl-10 {
      padding-left: 2.5rem;
    }
  }
}

/* Common components */
@layer components {
  .flex {
    display: flex;

    &.items-center {
      align-items: center;
    }

    &.justify-start {
      justify-content: flex-start;
    }

    &.justify-between {
      justify-content: space-between;
    }

    &.justify-center {
      justify-content: center;
    }

    &.justify-end {
      justify-content: flex-end;
    }

    &.nowrap {
      flex-wrap: nowrap;
    }

    &.gap-4 {
      gap: 1rem;
    }
  }

  .space-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .inset-0 {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  .border-secondary {
    border: 1px solid rgb(var(--border-secondary));
  }

  .border-primary {
    border: 1px solid rgb(var(--border-primary));
  }

  .rounded-xs {
    border-radius: var(--border-radius-xs);
  }

  .rounded-sm {
    border-radius: var(--border-radius-sm);
  }

  .rounded {
    border-radius: var(--border-radius-md);
  }

  .rounded-lg {
    border-radius: var(--border-radius-lg);
  }

  .rounded-xl {
    border-radius: var(--border-radius-xl);
  }

  .overflow-y-auto {
    overflow-y: auto;
  }

  .truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .modal {
    overflow: visible !important;

    .modal-content {

      .info-rows {
        margin-bottom: 1rem;
        font-size: 1rem;
        display: grid;
        grid-template-columns: min-content minmax(0, 1fr);
        row-gap: 0.25rem;
        column-gap: 1rem;

        .property {
          color: rgb(var(--text-secondary));
          text-align: right;
          font-weight: lighter;
          white-space: nowrap;
        }
      }

      .summary {
        color: rgb(var(--text-secondary));
        font-size: 1rem;
      }

      .error-message {
        margin: 0.5rem 0.25rem 0 ;
        color: rgb(var(--error));
        font-size: 12px;
        line-height: 14px;
      }
    }
  }

  .modal-md {
    width: 400px;
  }
}

/* Skeleton */
@layer components {
  .skeleton {
    background-color: rgb(var(--bg-skeleton) / 0.5);
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }

  .skeleton-circle {
    width: 2.25rem;
    min-width: 2.25rem;
    height: 2.25rem;
    border-radius: 99999px;
    background-color: rgb(var(--bg-skeleton) / 0.5);
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;

    &.size-lg {
      width: 3rem;
      min-width: 3rem;
      height: 3rem;
    }
  }

  .skeleton-block {
    height: 1.5rem;
    border-radius: var(--border-radius-sm);
    background-color: rgb(var(--bg-skeleton) / 0.5);
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;

    &.h-lg {
      height: 2rem;
    }

    &.h-sm {
      height: 1rem;
    }

    &.h-xs {
      height: 0.5rem;
    }

    &.w-10 {
      width: 10%;
    }

    &.w-20 {
      width: 20%;
    }

    &.w-30 {
      width: 30%;
    }

    &.w-40 {
      width: 40%;
    }

    &.w-50 {
      width: 50%;
    }

    &.w-60 {
      width: 60%;
    }

    &.w-70 {
      width: 70%;
    }

    &.w-80 {
      width: 80%;
    }

    &.w-90 {
      width: 90%;
    }

    &.w-100 {
      width: 100%;
    }
  }

  .skeleton-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.75rem;
    flex-grow: 1;
  }

  .skeleton-col {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex-grow: 1;
  }
}

/* Toast */
@layer components {
  .toast-offline {
    --toast-width: 340px;

    top: 0;
    width: var(--toast-width);
    left: calc(var(--toast-width) / -2);
    margin-left: 50%;
    padding: 10px 10px;
    background: rgb(var(--bg-toast-danger));
    border-radius: 6px;
    align-items: center;
    justify-content: start;
    transform: translateY(-105%);
    transition: transform 0.2s ease-out;
    box-shadow: 0 3px 6px 6px rgb(var(--black) / 0.15);
    display: flex;
    user-select: none;
    cursor: default;
    position: fixed;
    z-index: 30;

    .compass {
      margin-right: 10px;
    }

    &.show {
      transition: transform 0.2s ease-in;
      transform: translateY(20px);
    }
  }
}

@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}
