@import "/fonts/roboto/style.css";
@import "/fonts/jet-brains-mono/style.css";
@import "/fonts/sf-pro-text/style.css";
@import "/fonts/icon-font/icon-font.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --blue-950: 14 51 93;
  --blue-900: 13 84 155;
  --blue-800: 8 97 197;
  --blue-700: 0 115 229;
  --blue-600: 6 148 255;
  --blue-500: 30 177 255;
  --blue-400: 72 207 255;
  --blue-300: 131 226 255;
  --blue-200: 181 236 255;
  --blue-100: 214 243 255;
  --blue-50: 237 250 255;

  --orange-50: 255 247 236;
  --orange-100: 255 236 211;
  --orange-200: 255 213 165;
  --orange-300: 255 184 109;
  --orange-400: 255 142 50;
  --orange-500: 255 109 10;
  --orange-600: 255 83 0;
  --orange-700: 204 58 2;
  --orange-800: 161 45 11;
  --orange-900: 130 40 12;
  --orange-950: 70 17 4;

  --green-50: 240 253 244;
  --green-100: 220 252 231;
  --green-200: 187 247 208;
  --green-300: 134 239 172;
  --green-400: 74 222 128;
  --green-500: 34 197 94;
  --green-600: 22 163 74;
  --green-700: 21 128 61;
  --green-800: 22 101 52;
  --green-900: 20 83 45;
  --green-950: 5 46 22;
}

html {
  --accent: 0 115 229;
  --black: 0 0 0;

  --bg-primary: 238 235 234;
  --bg-secondary: 247 245 244;

  --border-primary: 218 214 213;
  --border-secondary: 190 194 194;

  --text-primary: 0 0 0;
  --text-secondary: 50 50 50;

  --bg-popover: 247 245 244;
  --bg-popover-hover: 230 230 230;
  --border-popover: 218 214 213;

  /* JSON editor highlight */
  --code-highlight-number: #1c86c6;
  --code-highlight-string: #22782c;
  --code-highlight-null: #c16841;
  --code-highlight-property: #aa2395;
  --code-highlight-brace: #60686c;
  --code-highlight-comments: #60686c;
  --code-trailing-space: rgba(255 116 104 / .33);
  --code-selection: rgb(33 66 131 / .5);

  color-scheme: light;
}

html.dark {
  --accent: 0 115 229;
  --black: 0 0 0;

  --bg-primary: 31 30 30;
  --bg-secondary: 15 15 15;

  --border-primary: 45 45 45;
  --border-secondary: 75 75 75;

  /** Text */
  --text-primary: 255 255 255;
  --text-secondary: 200 200 200; /** #C8C8C8 */

  /** Context menu popover */
  --bg-popover: 31 30 30;
  --bg-popover-hover: 38 37 37;
  --border-popover: 46 45 45;

  /* JSON editor highlight */
  --code-highlight-number: #2AACB8;
  --code-highlight-string: #6AAB73;
  --code-highlight-null: #c16841;
  --code-highlight-property: #C77DBB;
  --code-highlight-brace: #BCBEC4;
  --code-highlight-comments: #7A7E85;
  --code-trailing-space: rgba(255 116 104 / .33);
  --code-selection: rgb(33 66 131 / .5);

  color-scheme: dark;
}

html, body {
  min-height: 100vh;
  background-color: rgb(var(--bg-secondary));

  font-family: Roboto, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;


  font-feature-settings: normal;
  font-variation-settings: normal;
  tab-size: 4;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;

  color-scheme: light dark;
  color: rgb(var(--text-primary));

}

/* Common components/utils */
@layer components {
  h1 {
    font-size: 1.875rem;
    font-weight: 500;
  }
  h2 {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 500;
  }
  h3 {
    font-size: 1.375rem;
    font-weight: 500;
  }

  .digits {
    font-family: SFPro-Text, sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-rendering: optimizeLegibility;
    font-variation-settings: "wdth" 98;
    line-height: 1.2;
  }

  .monospace {
    font-family: SFMono, monospace;
    font-optical-sizing: auto;
    text-rendering: optimizeLegibility;
    font-variation-settings: "wdth" 98;
    line-height: 1.2;
  }

  .skeleton {
    background-color: rgb(34 34 34 / 90%);
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    @apply animate-pulse;
  }
}