.device-card {
  padding: 1rem;
  border: 1px solid rgb(var(--border-primary));
  border-radius: var(--border-radius);
  position: relative;

  .main-info {
    margin-bottom: 1rem;
    display: flex;

    .icon-wrapper {
      width: 36px;
      height: 36px;
      border-radius: 50%;
      background-color: rgb(var(--accent));
      text-align: center;
      position: relative;

      .marker {
        left: -4px;
        top: -4px;
        border: 2px solid rgb(var(--bg-primary));
        position: absolute;
      }

      .icon {
        line-height: 36px;
        font-size: 18px;
      }
    }

    .name-expiration {
      margin-left: .75rem;
      margin-right: auto;

      .name {
        font-size: 1.125rem;
        line-height: 1.1;
        font-weight: 500;
      }

      .expiration {
        margin-top: 4px;
        font-size: 0.75rem;
        color: rgb(var(--text-secondary));
      }
    }
  }

  .info-row {
    margin-top: .5rem;
    display: flex;
    align-items: start;
    justify-content: space-between;
    font-size: .75rem;

    .label {
      color: rgb(var(--text-secondary));
    }

    .value {
      text-align: right;
    }
  }

  .tags {
    width: auto;
    margin: 1rem -4px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
}